/* Orders Page Container */
.orders-page {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f5f5;
  /* Light grey background for the entire page */
}

/* Heading */
.orders-page h2 {
  color: #1d1f50;
  /* Navy blue text */
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: bold;
}

/* Orders Table Container */
.orders-table-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Orders Table */
.orders-table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #1d1f50;
  /* Navy blue border */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  /* White background */
}

/* Table Header */
.orders-table thead {
  color: #fbcd15;
  background-color: #1d1f50;
}

.orders-table th {
  padding: 12px;
  text-align: left;
  font-size: 16px;
}


.orders-table tbody {
  background-color: #ffffff;
}

/* Table Rows */
.orders-table tr {
  border-bottom: 1px solid #000000;
}

/* Table Cells */
.orders-table td {
  padding: 15px;
  vertical-align: top;
  color: #1d1f50;
  text-align: left;
  font-size: 15px;
}
/* Order Item Details */
.order-items-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.order-item-details {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.item-details {
  margin-left: 35px;
  text-align: left;
  color: #1d1f50;
}

.item-details p {
  margin: 5px 0;
  font-size: 15px;
}

.order-item-image {
  width: 80px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}