@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');

.Home .banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  /* background: linear-gradient(135deg, #fbcd15 20%, #118791 50%, #1d1f50 80%); */
  background-color: #1d1f50;
}

.Home .banner .text {
  flex: 1;
  padding: 0px 50px;
  text-align: left !important;
  color: white;
  line-height: 1.7;
  font-size: 18px;
}

.Home .banner .text h1{
  color: #fbcd15;
  font-family: "Merienda", cursive;
}

.Home .banner .img img {
  max-width: 100%;
  height: auto;
}